PORT=3000
DATABASE_URL="postgresql://neondb_owner:password@ep-xyz.c-4.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
JWT_SECRET="smart-space-booking-secret-key-ukk-2026-2027"
JWT_EXPIRES_IN="7d"
BASE_URL="http://localhost:3000"
